<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <header>
        <h1>Travel Planner</h1>
    </header>
    <main>
        <section class="mytrip">
            <div class="picture">
                <img src="" alt="">
            </div>
            <div class="inquire">
                <form action="">
                    <label for="location">My trip to:</label>
                    <input type="text" id="location" placeholder="Enter Location"><br>
                    <label for="date">Departing:</label>
                    <input type="text" id="date" placeholder="MM/DD/YYYY">
                </form>
            </div>
            <div class="btn">
                <button>save trip</button><button>remove trip</button>
            </div>
            <div class="result">
                <p>Paris,France is 220 days away</p>
                <br>
                <p>Typical weather for then is:</p>
                <p>High - 46,Low - 35<br>Mostly cloudy throughout the day.</p>
            </div>
        </section>
    </main>
    <footer></footer>
</body>
</html>