<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <header>
        <h1>Travel Planner</h1>
    </header>
    <main>
        <section class="mytrip">
            <div class="picture">
                <img src="" alt="">
            </div>
            <div class="inquire">
                <form action="" class="form">
                    <label for="location">My trip to:</label>
                    <input type="text" id="location" placeholder="Enter Location" required><br>
                    <label for="date">Departing:</label>
                    <input type="text" id="date" placeholder="MM/DD/YYYY" required pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}">
                    <input type="submit" id="submit" hidden="true">
                </form>
            </div>
            <div class="btn">
                <button class="save">save trip</button><button class="remove">remove trip</button>
            </div>
            <div class="result">
            </div>
        </section>
    </main>
    <footer></footer>
</body>
</html>